<app-message></app-message>

<section class="user">
  <form (ngSubmit)="register()" class="login-form">
    <h3>Registration</h3>
    <div class="form-group">
      <label for="email">email</label>
      <input type="text" id="email" [(ngModel)]="registerUser.email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="firstname">firstname</label>
      <input type="text" id="firstname" [(ngModel)]="registerUser.firstname" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" id="password" [(ngModel)]="registerUser.password" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="submit-button">register</button>
  </form>
</section>
