<app-message></app-message>

<section class="user">
  <form (ngSubmit)="login()" class="login-form">
    <h3>Login</h3>
    <div class="form-group">
      <label for="email">email</label>
      <input type="text" id="email" [(ngModel)]="loginUser.email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" id="password" [(ngModel)]="loginUser.password" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="submit" class="submit-button">login</button>
  </form>
</section>
