<app-header></app-header>
<app-message></app-message>
<div class="performance-container">
  <p>ID: {{mainPerformance.id}}</p>
  <div class="per-title">
    Name: {{mainPerformance.name}}
  </div>
  <div class="per-descr">
    Desc: {{mainPerformance.description}}
  </div>
  <div class="per-budget">
    Budget: {{mainPerformance.budget}}
  </div>

  <div class="actors-by-perfor">
    <div *ngFor="let ac of actorWithContracts">
      <p>ID: {{ ac.actor.id }}</p>
      <p>Name: {{ ac.actor.name }}</p>
      <p>Last name: {{ ac.actor.lastname }}</p>
      <p>Experience: {{ ac.actor.experience }}</p>
      <button (click)="getContractByActorId(ac)">contract</button>
      <p>Role: {{ac.contract.role }}</p>
      <p>Salary: {{ac.contract.salary }}</p>
    </div>
  </div>
</div>


