<app-header></app-header>
<app-message></app-message>
<main class="performance-container">
  <section class="performance">

    <h2>{{mainPerformance.name}}</h2>

    <div class="per-budget">
      Budget: {{mainPerformance.budget}}$
    </div>
    <div class="per-descr">
      {{mainPerformance.description}}
    </div>
  </section>

  <section class="actors-by-perfor">
    <h2>Actors</h2>
    <div class="actors-container">
      <article class="actor-item" *ngFor="let ac of actorWithContracts">
        <p id="actor-title">{{ ac.actor.name }} {{ ac.actor.lastname }}</p>
        <p>Experience: {{ ac.actor.experience }}</p>
        <p>Role: {{ac.contract.role }}</p>
        <p>Salary: {{ac.contract.salary }}$</p>
      </article>
    </div>
  </section>
</main>
