<app-header></app-header>

<main class="main-container">
  <div class="test">-</div>
  <section class="header-section">
    <div class="main-item">
      <p><strong>Zones for Innovative Kultur</strong> - it is a source of general information and cultural events, including theatrical performances</p>
    </div>
  </section>

  <section class="about">
    <div class="about-item">
      <p><strong>Zones for Innovative Kultur</strong> - it is a creative space where each performance becomes a unique journey into the world of art. Our theater invites you on an amazing journey where you can experience the magic of live performance and be inspired by art at its best.</p>
    </div>
  </section>

  <section class="header-section">
    <div class="main-item">
      <p><strong>ZIK</strong> prides itself on its diverse repertoire, including dramas, comedies, musicals, ballets and more. We provide every visitor with the opportunity to find a performance to suit his taste and enjoy performances by both local and international talents</p>
    </div>
  </section>
</main>
