<app-header></app-header>
<main class="perfor-body">
  <section class="perfor-infor">
    <div class="all-perfor">
      <table>
        <thead>
        <tr>
          <th>name</th>
          <th>description</th>
          <th>budget</th>
          <th>more</th>
          <th>actors</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let per of performances">
          <td>{{ per.name }}</td>
          <td>{{ per.description }}</td>
          <td>{{ per.budget }}</td>
          <td><button (click)="showMore(per.id)">show more</button></td>
          <td><button (click)="showAddForm(per)">add actors</button></td>
        </tr>
        </tbody>
      </table>
    </div>
      <section *ngIf="showAddFormBoolean" class="add-actors-block">
      <article *ngFor="let actor of actorsForUpdatePer" class="add-actor">
        <div class="prize-checkbox-text">
          {{ actor.name }} {{ actor.lastname }} ({{ actor.experience }} year)
        </div>
        <div class="prize-checkbox-input">
          <input type="checkbox" [(ngModel)]="actor.selected" [ngModelOptions]="{standalone: true}">
        </div>
      </article>
      <button (click)="addActorsToPerfor()" class="add-button">add</button>
    </section>
    <div class="page-buttons">
      <button class="previousPage" (click)="previousPage()"><</button>
      <button class="nextPage" (click)="nextPage()">></button>
    </div>
  </section>

  <button (click)="showCreatenewPerfor()" class="create-actor">+</button>

  <app-message></app-message>
  <section *ngIf="showCreateNewPerforBoolen" class="new-actor">
    <form (ngSubmit)="addNewPerformance()" class="new-perfor-form">
      <h2>Registration</h2>
      <div class="name-budget">
        <label for="name">Name </label>
        <input type="text" id="name" [(ngModel)]="performanceForAdd.name" [ngModelOptions]="{standalone: true}">
        <label for="budget">Budget </label>
        <input type="number" min="1" id="budget" [(ngModel)]="performanceForAdd.budget" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="description">
        <p>Description</p>
        <textarea type="text" id="description" [(ngModel)]="performanceForAdd.description" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
      <div class="add-actors-block">
        <article *ngFor="let actor of actorsForNewPer" class="add-actor">
          <div class="prize-checkbox-text">
            {{ actor.name }} {{ actor.lastname }} ({{ actor.experience }} year)
          </div>
          <div class="prize-checkbox-input">
            <input type="checkbox" [(ngModel)]="actor.selected" [ngModelOptions]="{standalone: true}">
          </div>
        </article>
      </div>
      <button type="submit" class="create-new-perfor">create!</button>
    </form>
  </section>
</main>
