/* Стили для контейнера "actor-infor" */
.actor-infor {
  display: flex;
}

/* Стили для блока "all-actors" */
.all-actors {
  flex: 75%; /* Занимает 75% ширины экрана */
  padding: 20px;
}

/* Стили для таблицы */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Стили для заголовков таблицы */
thead th {
  background-color: #b36cb9; /* Красный цвет */
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

/* Стили для ячеек таблицы */
td {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Линии-разделители между строками */
  text-align: center;
}

/* Стили для кнопок "show prizes" */
button {
  background-color: #b36cb9;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

button:hover {
  background-color: #000; /* Черный цвет */
  transition: background-color 0.5s ease;
}

/* Стили для блока "prizes-actor" */
.prizes-actor {
  flex: 25%; /* Занимает 25% ширины экрана */
  padding: 20px;
}

/* Стили для параграфов в блоке "prizes-actor" */
.prizes-actor p {
  margin: 0;
  font-weight: bold;
}



.new-actor {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #808080;
}

.login-form h3 {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.login-form .form-group {
  margin-bottom: 10px;
  margin-right: 10px;
}

.important-message {
  color: #ff3c3c;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-form .form-group label {
  color: #fff;
  font-size: 16px;
}

.login-form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.login-form .prize-checkbox {
  /*margin-bottom: 5px;*/
}
.prize-checkbox-container {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-around;
}

.prize-checkbox-text {
  font-size: 16px;
  flex: 75%;
}

.login-form .prize-checkbox input {
  /*margin-left: 15px;*/
}

.login-form .prize-checkbox label {
  color: #fff;
  font-size: 14px;
}

.login-form .submit-button {
  width: 100%;
  padding: 10px;
  background-color: #b36cb9;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.login-form .submit-button:hover {
  background-color: #9a5c9f;
}

.submit-button:disabled {
  font-size: 50px;
}
