<header class="header">
  <div class="logo-icon">
    ZIK
  </div>

  <nav class="navigation-container">
    <div class="item">
      <button (click)="goToActorPage()">actors</button>
    </div>

    <div class="item">
      <button (click)="goToPerformancePage()">performances</button>
    </div>

    <div class="item">
      <button (click)="goToContracPage()">contracts</button>
    </div>

    <div class="item">
      <button (click)="goToRegisterPage()">sing-up</button>
    </div>

    <div class="item">
      <button (click)="goToLoginPage()">sing-in</button>
    </div>
  </nav>
</header>
