/* Основной контейнер хедера */
.header {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

/* Стили для логотипа */
.logo-icon {
  font-size: 34px;
  font-weight: bold;
}

.logo-icon:hover {
  color: #b36cb9;
  transition: color 1.5s ease;
}

/* Стили для навигации */
.navigation-container {
  display: flex;
}

.item {
  margin-left: 20px;
}

.item button {
  background-color: #b36cb9;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

.item button:hover {
  background-color: #000; /* Черный цвет */
  transition: background-color 0.5s ease;
}
